body {
  background-color: bisque;
}
.box {
  display: inline;
}

.google-link {
  color: black;
  text-decoration: none;
}

.paragraf {
  text-decoration: overline 2px dotted black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

.image-container {
  width: 200px;
  height: 300px;
  border: 2px solid red;
  box-shadow: 10px 10px 10px red;
}

.image {
  width: 100%; 
  /* проценты - это проценты от ближайшего родителя-контейнера */
  height: 100%;
  object-fit: cover;
  /* 
  fill:
    - заполняется вся площадь контейнера - изображение растягивается
  cover:
    - заполняется вся площадь контейнера - изображение сохраняет пропорции
  contain:
    - если разные пропорции с контейнером, то она не заполняется вся площадь контейнера  
    - пропорции картинки сохраняются - 
  none: 
    - отображается в реальном масштабе - зависит от файла картинки
  inherit: 
    - размеры наследуются от родтеля
   */
   
}